@use '../../../../styles/variables' as *;

.DraftButton {
display: inline-flex;
flex-direction: column;
align-items: center;
width:fit-content;
gap: 4px;
background: none;
border: none;
border-top: 3px solid transparent;
padding: 8px 16px;
color: $color-text-tertiary;
font-size: 14px;
text-align: center;
cursor: pointer;
transition: all 0.3s ease-in-out;

.bi {
font-size: 24px;
color: inherit;

}
&:hover,
&.active {
    color: $color-text-primary;
    border-top-color: $color-text-primary;
}}