@use "../../../../styles/variables" as *;

.ArticleCardAuthor {
  display: flex;
  flex-direction: column;
  width: 23.125rem;
  flex-shrink: 0;
  max-width: 400px;
  background-color: $background-card;
  border: 1px solid $color-text-tertiary;
  box-shadow: $shadow-mobile;
  overflow: hidden;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    cursor: pointer;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    padding: $spacing-lg;
  }

  &__author {
    display: inline-flex;
    align-items: center;
    gap: $spacing-sm;
    color: $color-text-secondary;
    font-size: $font-size-sm;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text-secondary;
    font-size: $font-size-sm;
  }

  &__title {
    font-family: $font-primary;
    font-size: $font-size-xl;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: $color-text-secondary;
  }

  &__excerpt {
    color: $color-text-secondary;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    gap: $spacing-md;
    margin-top: $spacing-sm;
  }

  &__delete {
    background: none;
    border: 1px solid $red;
    border-radius: $border-radius-sm;
    color: $red;
    padding: $spacing-sm;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    .bi {
      font-size: 18px;
    }

    &:hover {
      background-color: $red;
      color: $color-background;
    }
  }
}
