@use "../../../../styles/variables" as *;

.FilterButton {
  display: inline-flex;
  width: fit-content;
  background-color: $color-background;
  color: $color-text-primary;
  border-radius: $border-radius;
  padding: 8px 24px;
  border: 1px solid $color-text-primary;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: $font-size-sm;
  font-weight: bold;
  gap: 8px;
  transition:
    background-color 0.3s,
    color 0.3s;
  letter-spacing: 0.7px;

  .bi {
    font-size: 20px;
    color: inherit;
  }

  &:hover,
  &.approved {
    background-color: $color-text-primary;
    color: $color-background;
  }

  &:focus-visible {
    outline: 3px solid #086bdb;
    outline-offset: 2px;
  }
}
