@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.card-image {
  width: 100%;
  height: 180px;
  flex-shrink: 0;
  @include flex-center;
  flex-direction: column;
  gap: $spacing-sm;
  background: $background-image-container;
  color: $color-text-tertiary;
  font-size: $font-size-sm;
  font-style: italic;

  i {
    font-size: 2rem;
    color: $color-text-tertiary;
  }
}
