@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.managerHome {
  max-width: $max-width;
  margin: 0 auto;
  padding: $spacing-xl $spacing-md;
  background: $color-background;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}

.manager__title {
  font-family: $font-primary;
  font-size: $font-size-xxl;
  font-weight: 700;
  color: $color-text-primary;
  margin-bottom: $spacing-xs;
  @include responsive(sm) {
    font-size: $font-size-xl;
  }
}

.manager__paragraph {
  font-family: $font-secondary;
  color: $color-text-secondary;
  font-size: $font-size-base;
  line-height: 1.5;
  margin-bottom: $spacing-lg;
  @include responsive(sm) {
    font-size: $font-size-sm;
  }
}

.articleList {
  display: flex;
<<<<<<< HEAD
  flex-direction: row;
=======
  flex-wrap:wrap;
>>>>>>> dev
  gap: $spacing-lg;
  margin-top: $spacing-md;
  justify-content: flex-start;

  @include responsive(lg) {
    flex-direction: row;
  }

  @include responsive(sm) {
    flex-direction: column;
  }
}
